:root {
  --body-font: Optima, Candara, Calibri, Arial, sans-serif;
  --code-font: "Jetbrains Mono", "Source Code Pro", Monaco, monospace;
}

body {
  font-family: var(--body-font);
}

code {
  font-family: var(--code-font);
  font-size: 80%;
  font-weight: lighter;
}
