<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ partial "seo.html" . }}
  <link rel="icon" href='{{ "favicon.ico" | relURL }}' />
  <link rel="stylesheet" href='{{ "css/style.css" | relURL }}' />
  <link rel="stylesheet" href='{{ "css/fonts.css" | relURL }}' />
  {{ partial "head_custom.html" . }}
</head>

<body>
  {{ partial "header.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
</body>
</html>
