{{ define "main" }}
<div class="article-meta">
    <h1><span class="title">{{ .Title | markdownify }}</span></h1>
    {{ with (or .Params.author .Site.Params.author) }}<span class="author">{{ . }}</span>{{ end }}
    {{ if not .Date.IsZero }}<span class="date">{{ .Date.Format "2006/01/02" }}</span>{{ end }}
    <p class="terms">
        {{ range $i := (slice "categories" "tags") }}
        {{ with ($.Param $i) }}
        {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (printf "/%s/%s/" $i ($k | urlize)) }}">{{$k}}</a> {{ end }}
        {{ end }}
        {{ end }}
    </p>
</div>

{{ if .Params.toc }}
{{ $tocTitle := default "Contents" .Site.Params.tocTitle }}
<details class="toc" open>
    <summary>{{ $tocTitle }}</summary>
{{ .TableOfContents }}
</details>
{{ end }}

<main>
    {{ .Content }}
</main>

{{ partial "comment.html" . }}
{{ end }}
